html,body{
	height: 100%
}
#root{
	height: 100%;
}
.header{
	padding-top: 25px;
}
.header-text{
	color: #fff;
}
.header-text-title{
	font-family: 'Poiret One', cursive !important;
}
.header-text-subtitle{
	font-family: 'Poiret One', cursive !important;
}
.info{
	margin-top: 50px;
	overflow: hidden;
	padding-bottom: 1px;
	margin-bottom: 40px;
}
.info-card-content{
	padding-bottom: 0!important;
}
.info h6{
	padding: 0 40px;
}
.info h3{
	font-family: 'Poiret One', cursive !important;
	padding: 30px 0;
}
.info img{
	max-width: 100%;
	display: block;
}
.info-img-left{
	margin-left: -20px;
}
.info-img-right{
	margin-left: 20px;;
}
.course-box{
	margin-top: 100px;
	padding-top: 30px;
	padding-bottom: 70px;
	background: #f4f4f4
}
.course-card{
	width: calc(100% - 30px);
	margin-left: 15px;
	margin-top: 40px;
}
.courses-title{
	margin-left: 15px!important;
}
.course-avatar{
	width: 75px;
	height: 75px;
	background-color: #009688;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	font-size: 1.2rem;
	color: #fff;
}
.course-name{
	width: 100%;
	text-align: center;
	margin-top: 20px;
	font-size: 1.2rem;
	margin-bottom: 10px;
}
.course-btn{
	margin: 5px 0!important;
	width: 100%;
	color: #fff!important;
}
.course-btn-cancel{
	background-color:#f44336!important;
}
.course-btn-start{
	background-color:#009688!important;
}
.course-btn-stop{
	background-color: #ed9321 !important;
}
.course-btn-create{
	background-color:#009688!important;
	margin:20px auto!important;
	display: block!important;
	width: auto!important;
}
.exam-btn-stop{
	z-index: 10000;
	color: #fff!important;
	position: absolute!important;
	right: 20px;
	top: 20px;
}
.exam-btn-stop:hover{
	background: rgba(0,0,0,0.4)!important;
}
.exam-btn-stop span svg{
	font-size: 3rem;
}
.plus-fab{
	margin-top:calc(50% - 28px)!important;
	background-color: #009688!important;
}
.team{
	text-align: center;
	padding: 30px 0;
}
.team-avatar{
	display: block;
	width: 60%;
	margin-left: 20%;
	margin-bottom: 20px;
	border-radius:50%;
	border:3px solid #fff;
}
.team-member{
	font-family: 'Poiret One', cursive !important;
	color: #fff;
	font-size: 1.7rem;
}
.footer{
	margin-top: 30px;
	padding-bottom: 20px;
}
.streams-box{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	z-index: 999;
	background-color: rgba(0,0,0,0.8);
}
.bigscreen{
	width: 100%;
	height: 100%;
	position: absolute;
}
.smallscreen{
	width: 250px;
	height: 140px;
	z-index: 999;
	overflow: hidden;
	position: relative;
	float: left;
	top: calc(100% - 140px);
}

.bigscreen video{
	position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    min-width: 100%
} 
.smallscreen video{
	width: 100%;
}
